<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{details.title}}</title>
</head>
<body>
    <h1>{{details.title}}</h1>
    <h2>{{details.author}}</h2>
    <p>{{details.text}}</p>
    <img src="{{details.fileName}}" alt="Photo">
</body>
</html>