<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
    <style>

    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Company</th>
      </tr>
      {{#if data.visible}}
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.age}}</td>
          <td>{{data.occupation}}</td>
          <td>{{data.company}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4">User: '{{data.name}}' has hidden their information</td>
        </tr>
      {{/if}}
    </table>

    <div class="page-heading">
      <h1>Register a new account</h1>
    </div>
    <form action="/users/register" ... style="border:1px solid; text-align: center; margin-right:90vw">
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>First Name</label>
          <br>
          <input
            type="text"
            class="form-control"
            placeholder="First Name"
            id="firstName"
            name="firstName"
          />
        </div>
      </div>
      <hr>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Last Name</label>
          <br>
          <input
            type="text"
            class="form-control"
            placeholder="Last Name"
            id="LastName"
            name="LastName"
          />
        </div>
      </div>
      <hr>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Email Name</label>
          <br>
          <input
            type="text"
            class="form-control"
            placeholder="Email Name"
            id="email"
            name="email"
          />
        </div>
      </div>
      <hr>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Password</label>
          <br>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            id="password"
            name="password"
          />
        </div>
      </div>
      <hr>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </body>
</html>