<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
     {{> header}}
    <main>
      <div class="hidden-header"></div>
      <div class="main-inner">
        <div class="menu_side_a">
           <div class="menu_side_a_links">
             <div>
               <a>Forum</a>
             </div>
             <div>
               <a>MyPlants</a>
             </div>
             <div>
               <a>Marketplace</a>
             </div>
             <div>
              <a>Watering Calendar</a>
             </div>
             <div>
              <a>Photo Recognition</a>
             </div>
           </div>
        </div>
        <div class="news_feed">
         {{#each article}}
          <div class="article_card">
            <div class="article_card_header">
                <div class="article_card_header_title">
                  <h1>{{title}}</h1>
                </div>
                <div class="article_card_header_info">
                  <p>{{date}}</p>
                </div>
            </div>
            <div class="article_card_image">
              <img src="../{{fileName}}" alt="Image">
            </div>
            <div class="article_card_description">
              <p>{{trimString text}}...</p>
              <a>Show more</a>
            </div>
            <div class="article_card_footer">
              <div class="article_card_footer_votes">
                <p>Votes: <b>{{votes}}</b></p>
                <button>Up vote</button>
                <button>Down vote</button>
              </div>
              {{#if ../isAuthor}}
                <div class="article_card_footer_edit_remove_options">
                  <a class="button" href="/editArticle/{{_id}}">Edit/Remove</a>
               </div>
              {{/if}}
            </div>
          </div>
          {{/each}}
        </div>
        <div class="menu_side_b">
            <div class="menu_side_b_links">
              <div>
                <a href="/addArticle">Write An Article</a>
              </div>
            </div>
        </div>
      </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>