<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lot Details</title>
    <link rel="stylesheet" href="{{style}}"/>
</head>
<body>
    {{> header}}
    <main>
        <div class="hidden-header"></div>
        <div class="main-inner">
            {{> sideMenu}}
            <div class="details">
                <div class="details_photo">
                    <img src="{{details.photo}}">
                </div>
                <div class="details_header">
                    <h1>{{details.title}}</h1>
                </div>
                <div class="details_body">
                    <p>{{details.description}}</p>
                    <div class="details_body_date">
                      <p>{{details.date}}</p>  
                    </div>
                </div>
                <div class="details_footer">
                    <p>Price: {{details.price}}</p>
                    <p>Contact details: {{details.contact}}</p>
                </div>
            </div>
            <div class="menu_side_b">
                <div class="menu_side_b_links">
                    <div>
                        <a href="/addLot">Add New Lot</a>
                    </div>
                    {{#isAuthor param1 = details.owner param2 = user._id}}
                    <div>
                        <a href="/editLot/{{details._id}}">Edit/Remove</a>
                    </div>
                    {{/isAuthor}}
                </div>
            </div>
        </div>
    </main>
</body>
</html>