<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="{{style}}"/>
</head>
<body>
    {{> header}}
    <main>
        <div class="hidden-header"></div>
        <div class="main-inner">
            <div class="menu_side_a">
                <div class="menu_side_a_links">
                    <div>
                    <a href="/thread">Forum</a>
                    </div>
                    <div>
                    <a href="/myplants">MyPlants</a>
                    </div>
                    <div>
                    <a href="/marketplace">Marketplace</a>
                    </div>
                    <div>
                    <a>Watering Calendar</a>
                    </div>
                    <div>
                    <a>Photo Recognition</a>
                    </div>
                </div>
            </div>
            <div class="marketplace_lots">
                <div class="marketplace_lots_inner">
                    <div class="marketplace_title">
                        <h1>Market</h1>
                    </div>
                    <div class="marketplace_body">
                        {{#each lots}}
                                <a href="/marketplaceLot/{{_id}}">
                                    <div class="marketplace_lot" style="background-image: url({{photo}})">
                                        <div class="marketplace_lot_body">
                                            <h3>{{title}}</h3>
                                        </div>
                                        <div class="marketplace_lot_footer">
                                            <p>Price: ${{price}}</p>
                                        </div>
                                    </div>
                                </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="menu_side_b">
                <div class="menu_side_b_links">
                    <div>
                        <a href="/addLot">Add New Lot</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
     </main>
</body>
</html>